{% load staticfiles %}

<html>
    <head>
        <title>Portfolio Leopold</title>
		<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Spectral+SC' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
	   <body>
	    
      
            <a href="/">ACCUEIL</a>
       	    <a href="/parcours/">MON PARCOURS</a>
  	        <a href="/competences/">MES COMPETENCES</a>
       	    <a href="/projets/">MES PROJETS</a>
    	    <a href="/contact/">CONTACT</a>
            <br>
			<center>
		    <p id="header"> PORTFOLIO </p>
		    </center>
        <div class="content">
       	 {% block content %}
         {% endblock %}
        </div>
        </body>
</html>
