{% load staticfiles %}

<html>
    <head>
        <title>Portfolio Leopold</title>
		<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Spectral+SC' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/style-eng.css' %}">
    </head>
	   <body>
	       
            <a id="a1" href="/eng/home">HOME</a>
       	    <a id="a2" href="/eng/background/">MY BACKGROUND</a>
  	        <a id="a3" href="/eng/skills">MY SKILLS</a>
       	    <a id="a4" href="/eng/projects/">MY PROJECTS</a>
    	    <a id="a5" href="/eng/contact/">CONTACT</a>
			
			
			<a class="lang" href="/">FR</a>
			<p class="lang">·</p>
			<a class="lang" href="/eng/home">EN</a>
		
			
            <br>
			<center>
		    <p id="header"> PORTFOLIO </p>
		    </center>
        <div class="content">
       	 {% block content %}
         {% endblock %}
        </div>
        </body>
</html>
