{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="me">
<img src="{% static '/images/photoacc.png' %}">
</div>
<br>
<p> Bienvenue </p>
<p> J'ai développé ce portfolio avec Django et PythonAnywhere<br>
   Vous y trouverez toutes les informations me concernant ainsi que les projets que j'ai réalisés.
    <br> J'effectue actuellement mon alternance chez Natixis.     </p>
 
<div class="natixis">
 <img src="{% static '/images/logo_natixis.png' %}">
 <a href="https://www.natixis.com">Visiter le site de Natixis</a>
</div>

{% endblock %}
