{% extends "base-eng.html" %}
{% load static %}
{% block content %}

<div id="me">
<img src="{% static '/images/photoacc.png' %}">
</div>
<br>
<p> Welcome </p>
<p> I developed this portfolio using Django and PythonAnywhere,<br>
   you will find everything there is to know about me aswell as the projects I have done.
  <br> I am currently doing my apprenticeship at Natixis.    </p>
 
<div class="natixis">
 <img src="{% static '/images/logo_natixis.png' %}">
 <a href="https://www.natixis.com">Visit Natixis' website</a>
</div>

{% endblock %}
