body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgmim-4{
  position: relative;
  opacity: 0.65;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  
}
.bgimg-1 {
  background-image:linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url("../images/bg1.jpeg");
  min-height: 100%;
  background-size: cover;

}

.bgimg-2 {
  background-image: url("../images/bg2.png");
   height: 100%;
   width: 100%;
    background-size: contain;
   
}

.bgimg-3 {
  background-image: url("../images/bg3.jpeg");
  min-height: 100%;
  background-size: cover;

}

.bgimg-4 {
  background-image: url("../images/bg4.jpeg");
  min-height: 40%;
  background-size: cover;

}


.caption img{
	height: 200px;
	width: 200px;
	}
	
.caption h1 {
	
	margin-top: 140px;
	
}
.caption em {
	
	color : #47d5e5;
	font-style: normal;
	font-weight: bold;
}
.caption {
	
	font-family: "Garamond"; 
	text-align: center;
	font-size: 8pt;
	color: white;
	padding: 100px;
	
}


em {
	color : #47d5e5;
	font-style: normal;
	font-weight: bold;
}	

h2 {
		font-family: "Garamond"; 
	text-align: center;
	font-size: 24pt;
	color: white;
	padding: 50px;
}
	