body{
	
	background-image:    
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("../images/wallhaven-430250.jpg");
	background-size : cover;
    background-attachment: fixed;
}

a:hover, a:active, a:visited, a:link {
	color : #FFFFFF;
	text-decoration : none; 
	display: inline;
	font-family: 'Alegreya';
}

a:hover {
	text-decoration: underline;
}

.index {
	margin-left: 5px;
	margin-top: 0px; 
}

#header {
	color : white;
	font-family: 'Spectral SC'; 
	font-size: 20pt;
	border-top: 3px dotted white;
	border-bottom: 3px dotted white;
	box-shadow: inset 0 -1px 0 0 white,
	inset 0 1px 0 0 white, 0 1px 0 0 white, 0 -1px 0 0 white;
	text-align: center;
	width: 200px;
	margin-top: 60px;
}


.content {
	
	text-align:center;
	vertical-align: center;
	

}

.content h2, h3, h4, h5 {
	font-family: 'Spectral SC'; 
	font-weight: normal; 
	font-style: italic;
	color: white;
	font-size: 18pt;

}

.content p {
	color: white;
	font-family: 'Slabo 27px';
}

#me img {
	border-radius: 50%; 
	border: 2px solid white;

}

.natixis {
	display: inline-block; 
	color: white;
}

.natixis a {
	margin-left: 0px;
}

.lang {
float: right;
display: inline;
}